<div class="container">
  
  <form class="col-md-6 mx-auto shadow p-5 m-5 bg-white rounded" (ngSubmit)="login()">
      <div class="text-dark text-center">
          <i class="fas fa-code fa-8x"></i>
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1"> Email address : </label>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="fas fa-at"></i></span>
        </div>
        <input type="email" class="form-control" name="InputEmail" aria-describedby="emailHelp" placeholder="Enter email"
          [(ngModel)]="this.data.email">

      </div>


    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password : </label>


      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="fas fa-key"></i></span>
        </div>
        <input type="password" class="form-control" name="InputPassword" placeholder="Password" [(ngModel)]="this.data.password">

      </div>


    </div>

    <button type="submit" class="btn btn-outline-primary btn-block"><i class="fas fa-sign-in-alt"></i>
      Sign In</button>
    <a [routerLink]="['/signup']" class="btn btn-outline-danger btn-block"><i class="fas fa-sign-out-alt"></i> Sign Up</a>

    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert" *ngIf="wrongLogin">
      <strong>email</strong> or <strong>password</strong>  is wrong
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  </form>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="timer"></ngx-spinner>